{
  "openapi": "3.1.0",
  "info": {
    "title": "VERIFRAX API",
    "version": "2.2.0",
    "description": "Canonical API and machine-access surface for api.verifrax.net; not governed execution of record."
  },
  "servers": [
    {
      "url": "https://api.verifrax.net"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "surface": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "live": {
                      "type": "boolean"
                    },
                    "boundary": {
                      "type": "string"
                    },
                    "not_governed_execution_of_record": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "status",
                    "surface",
                    "role",
                    "live"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "readiness",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "surface": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "live": {
                      "type": "boolean"
                    },
                    "boundary": {
                      "type": "string"
                    },
                    "not_governed_execution_of_record": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "status",
                    "surface",
                    "role",
                    "live"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "version",
        "responses": {
          "200": {
            "description": "version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runtime": {
                      "type": "string"
                    },
                    "verifier_version": {
                      "type": "string"
                    },
                    "payment_status": {
                      "type": "string"
                    },
                    "api_contract_version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "runtime",
                    "verifier_version",
                    "payment_status",
                    "api_contract_version"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "openapi",
        "responses": {
          "200": {
            "description": "OpenAPI document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/capabilities": {
      "get": {
        "operationId": "capabilities",
        "responses": {
          "200": {
            "description": "capabilities"
          }
        }
      }
    },
    "/api/law": {
      "get": {
        "operationId": "lawProjection",
        "responses": {
          "200": {
            "description": "law projection"
          }
        }
      }
    },
    "/api/state": {
      "get": {
        "operationId": "stateProjection",
        "responses": {
          "200": {
            "description": "state projection"
          }
        }
      }
    },
    "/api/receipt/{id}": {
      "get": {
        "operationId": "receiptProjection",
        "summary": "Get projected execution receipt by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/verdict/{id}": {
      "get": {
        "operationId": "verdictProjection",
        "summary": "Get projected verdict by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verdict projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/receipt/example-0001": {
      "get": {
        "operationId": "receiptExampleProjection",
        "responses": {
          "200": {
            "description": "receipt projection"
          }
        }
      }
    },
    "/api/verdict/example-0001": {
      "get": {
        "operationId": "verdictExampleProjection",
        "responses": {
          "200": {
            "description": "verdict projection"
          }
        }
      }
    }
  }
}
