{
  "openapi": "3.1.0",
  "info": {
    "title": "VERIFRAX API",
    "version": "2.2.0",
    "description": "Canonical execution API surface for api.verifrax.net"
  },
  "servers": [
    {
      "url": "https://api.verifrax.net"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "surface": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "live": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "status",
                    "surface",
                    "role",
                    "live"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "readiness",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "surface": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "live": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "status",
                    "surface",
                    "role",
                    "live"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "version",
        "responses": {
          "200": {
            "description": "version",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "openapi",
        "responses": {
          "200": {
            "description": "OpenAPI document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/capabilities": {
      "get": {
        "operationId": "capabilities",
        "summary": "Get public API capability projection",
        "responses": {
          "200": {
            "description": "Capabilities projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/law": {
      "get": {
        "operationId": "lawProjection",
        "summary": "Get projected law reference",
        "responses": {
          "200": {
            "description": "Law projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/state": {
      "get": {
        "operationId": "stateProjection",
        "summary": "Get projected accepted-state reference",
        "responses": {
          "200": {
            "description": "State projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/receipt/{id}": {
      "get": {
        "operationId": "receiptProjection",
        "summary": "Get projected execution receipt by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/verdict/{id}": {
      "get": {
        "operationId": "verdictProjection",
        "summary": "Get projected verdict by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verdict projection",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
